.findex-query {
    padding: 15px;
    font-size: 20px;
    border: none;
}

.findex-result-icon {
    margin: 10px;
}

.findex-result-app-name
{
    font-weight: 500;
    font-size: 14px;
    margin: 7px;
}

.findex-result-command
{
    font-style: italic;
    opacity: 0.7;
    margin: 10px;
}
